<div class="w-full h-full text-white px-2 py-1">
  <span
    class="text-5xl font-bold font-pacifico underline [text-decoration-color:#f87171] underline-offset-8"
    >About Me</span
  >
  <div
    class="flex flex-col items-start justify-evenly h-full font-medium lg:text-xl text-gray-300"
  >
    <p>
      Hi, I’m Akash, a passionate Frontend Developer with a knack for creating
      visually stunning, user-friendly web applications. With a strong
      background in HTML, CSS, and JavaScript, I specialize in crafting
      responsive and interactive interfaces that provide seamless user
      experiences across all devices.
    </p>
    <p>
      Over the years, I’ve honed my skills in modern frontend frameworks like
      Angular and React, leveraging them to build dynamic and scalable web
      applications. My deep understanding of UI/UX principles, combined with a
      keen eye for design, allows me to bridge the gap between functionality and
      aesthetics, ensuring that the final product is not only functional but
      also visually appealing.
    </p>
    <p>
      I’m constantly exploring new technologies and trends in web development to
      stay ahead of the curve. Whether it’s implementing the latest features in
      CSS, optimizing performance, or experimenting with new JavaScript
      libraries, I’m always looking for ways to improve my craft.
    </p>
    <p>
      When I’m not coding, you can find me contributing to open-source projects,
      writing technical articles, or experimenting with new design ideas. I
      believe in the power of collaboration and am always eager to work with
      like-minded individuals who share my passion for creating amazing digital
      experiences.
    </p>
    <p>
      Feel free to explore my portfolio to see some of the projects I’ve worked
      on, or get in touch if you’re interested in collaborating on something
      exciting!
    </p>
  </div>
</div>
