<div class="w-full h-full text-white px-2 py-1">
  <span
    class="text-5xl font-bold font-pacifico underline [text-decoration-color:#f87171] underline-offset-8"
    >Contact Me</span
  >
  <div
    class="w-full h-[92%] mt-5 overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-700"
  >
    <div class="p-6">
      <div class="block w-full">
        <iframe
          class="w-full"
          src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d218.74738733826885!2d77.30867860695297!3d28.690897049455724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sen!2sin!4v1724210462410!5m2!1sen!2sin"
          width="600"
          height="450"
          style="
            border: 0;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          "
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

    <div class="p-6"><app-form></app-form></div>
  </div>
</div>
