<div class="mx-auto max-w-7xl flex w-full space-x-2">
  <div class="w-[50%] p-4">
    <img class="w-[600px] rounded-full" src="/BITMOJI3.jpg" alt="" />
  </div>

  <div class="w-[50%] flex flex-col">
    <div class="relative">
      <img class="h-[400px]" src="/thought.png" alt="" />
      <div class="absolute left-32 top-44 font-bold text-2xl text-gray-900">
        <div class="flex flex-col">
          <span>Hello!</span>
          <span>I am AKASH!</span>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col mt-3 p-4 items-start space-y-4 text-2xl text-gray-900"
    >
      <span>Frontend Developer (Angular / React)</span>
      <span>+91 9971104373</span>
    </div>
  </div>
</div>
