<div class="h-full w-full p-6 text-white">
  <div class="h-full w-full rounded-3xl flex flex-col items-center">
    <div
      class="h-[50%] w-full flex flex-col items-center lg:justify-between lg:space-y-3 sm:justify-evenly sm:space-y-0"
    >
      <img class="rounded-full lg:w-80 sm:w-48" src="/Mine.jpeg" alt="" />
      <span class="text-2xl font-bold font-poppins">AKASH</span>
      <span
        class="bg-gray-600 rounded-3xl px-5 py-2 lg:font-medium sm:text-sm sm:text-nowrap sm:px-3"
        >Web Developer</span
      >
    </div>
    <hr class="outline-1 w-full my-6 rounded-lg outline-slate-300" />

    <div
      class="h-[50%] w-full overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-600 scrollbar-track-gray-700"
    >
      <div class="w-full h-full flex flex-col justify-evenly space-y-4 p-4">
        <div
          class="flex flex-col sm:flex-row items-start sm:items-center justify-between space-y-4 sm:space-y-0 sm:space-x-8"
        >
          <div class="flex items-center space-x-4">
            <img
              class="w-12 sm:w-6 rounded-full"
              src="/email-orange.png"
              alt=""
            />
            <div class="flex flex-col">
              <span class="text-gray-300 text-sm">Email</span>
              <span
                class="font-poppins underline underline-offset-8 [text-decoration-color:#f87171] text-sm"
                >therealakash13gmail.com</span
              >
            </div>
          </div>
        </div>

        <div
          class="flex flex-col sm:flex-row items-start sm:items-center justify-between space-y-4 sm:space-y-0 sm:space-x-8"
        >
          <div class="flex items-center space-x-4">
            <img
              class="w-12 sm:w-6 rounded-full"
              src="/phone-orange.png"
              alt=""
            />
            <div class="flex flex-col">
              <span class="text-gray-300 text-sm">Phone</span>
              <span
                class="font-poppins underline underline-offset-8 [text-decoration-color:#f87171] text-sm"
                >9971104373</span
              >
            </div>
          </div>
        </div>

        <div
          class="flex flex-col sm:flex-row items-start sm:items-center justify-between space-y-4 sm:space-y-0 sm:space-x-8"
        >
          <div class="flex items-center space-x-4">
            <img
              class="w-12 sm:w-6 rounded-full"
              src="/birthday-orange.png"
              alt=""
            />
            <div class="flex flex-col">
              <span class="text-gray-300 text-sm">Birthday</span>
              <span
                class="font-poppins underline underline-offset-8 [text-decoration-color:#f87171] text-sm"
                >13/12/1998</span
              >
            </div>
          </div>
        </div>

        <div
          class="flex flex-col sm:flex-row items-start sm:items-center justify-between space-y-4 sm:space-y-0 sm:space-x-8"
        >
          <div class="flex items-center space-x-4">
            <img
              class="w-12 sm:w-6 rounded-full"
              src="/location-orange.png"
              alt=""
            />
            <div class="flex flex-col">
              <span class="text-gray-300 text-sm">Location</span>
              <span
                class="font-poppins underline underline-offset-8 sm:text-nowrap [text-decoration-color:#f87171] text-sm"
                >Nand Nagri, Delhi</span
              >
            </div>
          </div>
        </div>

        <div class="mx-auto">
          <div class="flex justify-center items-center space-x-6 sm:space-x-10">
            <a href="https://github.com/therealakash13">
              <img class="w-8" src="/gt.png" alt="GitHub" />
            </a>
            <a href="https://www.linkedin.com/in/akashkumar0">
              <img class="w-8" src="/In.png" alt="LinkedIn" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
